@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: $font;
  letter-spacing: 0.03rem;
  text-decoration: none;
}
body {
  background-color: $pink;
  padding: 0;
  margin: 0;
}
.app-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 16vh;
  grid-template-areas:
    "main"
    "nav";
  color: $blue;
  line-height: 1.5rem;
}
.home-container {
  grid-area: main;
  margin: 20vh 0;
  padding: 5vw;
  width: 100vw;
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.12);
  .header {
    font-size: 2.7rem;
    font-weight: $medium;
    line-height: 2.7rem;
    padding-bottom: 5vh;
  }
  .intro {
    line-height: 1.5rem;
    text-decoration: none;
    a {
      font-weight: 500;
    }
  }
}
@media (min-aspect-ratio: 50/50) {
  .home-container {
    padding-left: 20vmax;
    padding-right: 20vmax;
  }
}

//Components styling
@import "../components/_ImageQuestion";
@import "../components/_NameQuestion";

// mainBtn
.btn-container {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.btn {
  padding: 0.8rem 2rem;
  margin: 0.4rem;
  border: 0.05rem solid $white;
  border-radius: 5rem;
  background-color: $white;
  color: $blue;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.12);
}

a:visited,
:focus,
:active {
  color: $blue;
  outline: 0;
}

//JS Classes
.wrong {
  border: 0.15rem solid $red !important;
}
.correct {
  border: 0.15rem solid $green !important;
}
