$font: 'Ubuntu', sans-serif;
$bold: 700;
$medium: 500;
$normal: 400;
$light: 300;

$pink: rgba(246, 225, 225, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(51, 51, 102, 1);
$green: rgba(85, 235, 77, 1);
$red: rgba(235, 77, 85, 1);
